*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: 90px;
}

body {
  margin: 0;
}

.board {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  /* background-color: black; */
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell.x::before,
.cell.x::after {
  content: "";
  width: 13px;
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.cell.x::after {
  transform: rotate(45deg);
}
.cell.x::before {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.cell.o::before {
  background-color: black;
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.o::after {
  background-color: white;
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
}

.winning-message {
  /* display: flex; */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 5rem;
}
.winning-message.show {
  display: flex;
}
.restart {
  font-size: 25px;
  background-color: white;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s ease all;
  border: none;
  border-radius: 5px;
}
.restart:hover {
  background-color: gray;
  color: white;
}
